 <mat-form-field appearance="outline">
   <mat-label>Total Amount</mat-label>
    <input matInput
      [(ngModel)]="amount"
      id="amount"
      name="amount"
      type="number"
      class="form-control">
  </mat-form-field>
 <br>
 <!-- Checkbox doesn't work yet -->
 <mat-checkbox>Round to Whole Dollar</mat-checkbox>
  <!--Tip Output-->
  10%
  {{ amount * .1 | currency }}
  {{ amount + amount * .1 | currency }}
  <br>
  15%:
  {{ amount * .15 | currency }}
  {{ amount + amount * .15 | currency }}
  <br>
  20%:
  {{ amount * .2 | currency }}
  {{ amount + amount * .2 | currency }}
  <br>
  25%:
  {{ amount * .25 | currency }}
  {{ amount + amount * .25 | currency }}




