<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form>
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="amount">Amount:
              <input
              [(ngModel)]="amount"
              id="amount"
              name="amount"
              type="number"
              (change)="onAmountChange()"
              class="form-control">
            </label>
          </div>
        </div>
        <div>
          <!-- Checkbox doesn't work yet -->
          <mat-checkbox>Round to Whole Dollar</mat-checkbox>
        </div>
      </form>
      <hr>
      <p>
        10%
        <br>
        {{ tenPercentTip | currency }} {{ tenPercentTotal | currency }}
        <br>
        15%: {{ fifteenPercentTip | currency }}
        <br>
        20%: {{ twentyPercentTip | currency }}
        <br>
        25%: {{ twentyfivePercentTip | currency }}
      </p>
    </div>
  </div>
</div>

